/* AE360E,C0BAA7 */
footer{
    margin-bottom: 20px;
}
.bar{
    width: 100%;
    height: 40px;
    background-color: #AE360E;
}
.form{
    float: left;
    width: 45%;
    font-size: 18px;
    padding: 10px;
    /* background-color:green; */
    margin-right: 10px;
}

.location{
    float: right;
    width:45%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 1.8em;
    
}

.location img{
    width: 100%;
}

.form-input{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#question-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.button{
    margin-top: 5px;
    text-align: center;
}
.btn{
    width: 100%;
}
.location img{
    width: 350px;
    border: 1px solid black;
}

.copyright{
    text-align: center;
}

.copyright hr{
    width: 80%;
    margin: auto;
}




/* responsive design */

/* 1200px */
@media screen and (max-width: 1400px){

}




/* 990 */
@media screen and (max-width: 1200px){

    
}


/* 780px */
@media screen and (max-width: 991px){
    .location img{
        width:300px;
    }
    .form{
        font-size:16px;
    }
    .form-input{
        height: 30px;
    }
}

/* 600 */
@media screen and (max-width: 780px){
    .location{
        width: 100%;
        font-size:16px;
        font-weight: 550;
    }
    .location img{
        width:100%;
    }
    .form{
        width: 100%;
        font-size:16px;
    }
    .form-input{
        
        height: 30px;
    }

}


/* 400 */
@media screen and (max-width: 590){
	
}
